	<div class="imagen">
		<img class="autor-foto" src="/images/albeiro.png" alt="">
	</div>
	
	<h2 class="autor">
		Desarrollado por  <%= nombre %>
	</h2>
	<p>Para el Curso de Node.js de MiriadaX,Modulo 6</p> 
	