*{
	margin: 0;
	padding: 0;
}
body {
  font: 16px georgia, serif;
}
#pagewrap{
	margin: 2% auto;
	color: white;
}
#page-wrap >.main{
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}
section > div{
	padding: 20px;
}
header, nav, section{
	background: #eee;
	text-align: center;
}
nav span{
	margin: 0px 10px 0px 0px;
}
div.imagen, img.autor-foto{
	width: 120px;
	height: 140px;
}
div.imagen{
	padding-top: 18px;
	margin: auto;
	padding-left: 265px;
}
h2.autor,{
	text-align: center;
}