
<table>
	<tr><td>
		<form method="get" action="quizes/search" >
			Texto a buscar:
			<input type="text" name="txtbusqueda" value="" />
			<input type="submit" value="Buscar"/>
		</form><br>
	</td></tr>
	<% var i; for(i=0; i < quizes.length; i++){ %>
		<tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
	<% } %>
</table>