<h2>Login</h2>

<form class="login" method='POST' action='/login'>

  <div class="field">
    <p>

      <input type="text" id="login" placeholder="Nombre de usuario" name="login" size="30" />
    </p>
  </div>

  <div class="field">
    <p>
      
      <input type="password" id="password" name="password" placeholder="password" size="30" />
    </p>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Login" />
  </div>

</form>
